@import "../settings/colors";
@import "../settings/placeholder";
@import "../settings/mixins";

.jumbotron {
    display: flex;
    justify-content: space-between;
    padding-right: 142px;


    &__image {
        background-image: url("../../assets/Home-Hero-Image.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        position: absolute;
        top: 15px;
        right: 350px;
        z-index: -1111;
    }
}

.jumbotron__text {
    width: 600px;
    margin-top: 50px;

    h1 {
        @include header(120px, 175px);
    }
}


.jumbotron__cta {

    margin-top: 110px;
    display: flex;
    justify-content: space-between;


    &--btn {
        @extend %btn;
    }
}

.break::after {
    content: "\a";
    white-space: pre;
}