%ornament {
    content: "";
    background-image: url("../../assets/Decoration.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 253px;
    height: 33px;
}


%btn {
    width: 290px;
    height: 90px;
    text-decoration: none;
    color: $textColor;
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
    border: 0.75px solid transparent;
    padding-top: 3px;

    &:hover {
        border-color: $textColor;
    }

}

%header {
    color: $textColor;
    text-align: center;
    font-size: 34px;
    letter-spacing: -0.76px;
    font-weight: normal;
    position: relative;
}

%icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}